<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WcfSelfHostingApp.WCFComponent">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4321/TcpServices/"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mexTcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="tcp" binding="netTcpBinding" contract="WcfSelfHostingApp.ICustomerAddingService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>