<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISportService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/MyServices/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISportService" contract="myWcfReferences.ISportService"
                name="WSHttpBinding_ISportService">
                <identity>
                    <userPrincipalName value="PHANI-PC\phani" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>